<!--                   <--START OF ROW-->
<tr data-id='activityId'>
    <th scope="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{name}}">
            {{name}}
        </button>
        <div class="modal fade" id="{{name}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">{{name}}</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{description}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </th>
    {{#each timeslots as |timeslot|}}
    {{> timeslots}}
    {{/each}}
</tr>

