
<div class="row p-4">
  <div class="card col-6">
    <div class="card-header">
      Classes registered
    </div>
    {{#each user.booked_timeslots as |timeslot|}}
    <div class="card-body">
      {{!-- class names go here --}}
      <h5 class="card-title">{{activity.name}}</h5>
      {{!-- class time goes here --}}
      <p class="card-text">{{format_time time}}</p>
      <p class="card-text">{{instructor}}</p>
    </div>
    {{/each}}
  </div>
  <div class="card col-sm-12 col-md-6 col-lg-6">
    <div class="card-header">
      {{user.first_name}} {{user.last_name}}
    </div>
    <div class="card-body">
      {{!-- class names go here --}}
      <h5 class="card-title">Email:</h5>
      {{!-- class time goes here --}}
      <p class="card-text">{{user.email}}</p>
      <h5 class="card-title">Date of Birth:</h5>
      {{!-- class time goes here --}}
      <p class="card-text">{{format_date user.date_of_birth}}</p>
      <h5 class="card-title">Phone Number:</h5>
      {{!-- class time goes here --}}
      <p class="card-text">{{user.phone_number}}</p>
      <h5 class="card-title">Zipcode:</h5>
      {{!-- class time goes here --}}
      <p class="card-text">{{user.zipcode}}</p>
      <h5 class="card-title">Membership Status:</h5>
      {{!-- class time goes here --}}
      {{#if user.is_VIP}}
      <p class="card-text">VIP Membership</p>
      {{else}}
      <p class="card-text">Free Membership</p>
      {{/if}}
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>